<div class="card">
    <div class="card-header d-flex align-items-center">
        <fa-icon [icon]="icLogo" class="mr-3"></fa-icon>
        <div class="flex-grow-1">Peripherals</div>
        <button class="btn btn-outline-primary">
            <fa-icon [icon]="icPlus" class="mr-1"></fa-icon> New
        </button>
    </div>
    <div class="card-body">
        dsds
    </div>
    <div class="card-footer d-flex align-items-center justify-content-center">
        <ngb-pagination class="m-0"></ngb-pagination>
    </div>
</div>
