<div class="mb-4 d-flex align-items-center">
    <div class="flex-grow-1 h4 m-0">{{title}}</div>
    <div>
        <button class="btn btn-success" routerLink="/peripheral/create">
            <fa-icon [icon]="icPlus"></fa-icon>
            <span class="ml-2 mobile-hidden">New Peripheral</span>
        </button>
    </div>
</div>
<div class="card" *ngIf="!(loading$ | async)">
    <div class="card-header row mx-0 align-items-center justify-content-end">
        <div class="col-md-6 col-lg-4 p-0 m-0 d-flex text-nowrap align-items-center">
            Sort by:
            <select class="custom-select ml-3" [(ngModel)]="sortOption" (ngModelChange)="doSort()">
                <option [value]="'dateAsc'">Creation date (ASC)</option>
                <option [value]="'dateDesc'">Creation date (DESC)</option>
                <option [value]="'vendorAsc'">Vendor (ASC)</option>
                <option [value]="'vendorDesc'">Vendor (DESC)</option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="peripheral$ | async as peripherals">
            <div class="card my-1" *ngFor="let peripheral of peripherals">
                <div class="px-3 py-2 d-flex align-items-center">
                    <div class="mr-3">
                        <fa-icon [icon]="icMicro"></fa-icon>
                    </div>
                    <div class="flex-grow-1">
                        <div>{{peripheral.vendor}}</div>
                        <div class="text-muted small" style="line-height: 1em">UID: {{peripheral.uid}}</div>
                    </div>
                    <div class="mr-5 mobile-hidden text-black-50 small">
                        <span class="mr-3">{{peripheral.gateway!.name}}</span>
                        <fa-icon [icon]="icGateway"></fa-icon>
                    </div>
                    <div>
                        <button class="btn btn-link btn-sm" [routerLink]="['/peripheral', 'details', peripheral.id]">
                            <span>Details</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-center">
        <ngb-pagination *ngIf="count$ | async as count" [(page)]="page" [pageSize]="pageSize"
                        [collectionSize]="count" (pageChange)="switchPage()" class="m-0"></ngb-pagination>
    </div>
</div>
