<div class="row bg-white shadow-sm mx-0 justify-content-center align-items-center py-3">
    <div class="col-12 col-lg-9">
        <div class="d-flex align-items-center">
            <fa-icon [icon]="icLogo" class="text-geek-blue" size="2x"></fa-icon>
            <div class="font-weight-lighter h3 m-0 ml-3 flex-grow-1">
                Gateways
            </div>
            <div *ngIf="path | async as currentPath">
                <button class="btn btn-outline-secondary" *ngIf="currentPath == 'gateway/list'" routerLink="/peripheral/list">
                    <fa-icon [icon]="icMicro" class="mr-2"></fa-icon>
                    Peripherals
                </button>
                <button class="btn btn-outline-secondary" *ngIf="currentPath == 'peripheral/list'" routerLink="/gateway/list">
                    <fa-icon [icon]="icLogo" class="mr-2"></fa-icon>
                    Gateways
                </button>
            </div>
        </div>
    </div>
</div>
